<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
    <link rel="icon" href="{{url_for('static', filename='image/AC_icon.png')}}">
    <title>Connection | Добро пожаловать!</title>
</head>
<body>
<header class="title">
    <div><h1 align="center" style="color: aliceblue;">Connection</h1></div>
</header>

<header class="subtitle">
    <div><h1 align="center" style="color: aliceblue;">Добро пожаловать!</h1></div>
</header>
<div class="container">
    <form method="post" id='registration' name="registration" onsubmit="return validateForm(event)">
        <header class="registration">
            <div class="box">
                <h3>Регистрация</h3>
                <input type="text" placeholder="Почта" name="email" id="emailRegistration">
                <input type="password" placeholder="Пароль" name="password" id="passwordRegistration">
                <div id="errorMessageRegistration" style="color: red"></div>
                <button value="registration" name="button" type="submit">Создать</button>
            </div>
        </header>
    </form>
    <form method="post" id="authorization" name="authorization" onsubmit="return validateForm(event)">
        <header class="authorization">
            <div class="box">
                <h3>Авторизация</h3>
                <input type="text" placeholder="Логин" name="login" id="emailAuthorization">
                <input type="password" placeholder="Пароль" name="password" id="passwordAuthorization">
                <div id="errorMessageAuthorization" style="color: red"></div>
                <button value="authorization" name="button" type="submit">Войти</button>
            </div>
        </header>
    </form>
</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#registration').on('submit', function (event) {
            event.preventDefault(); // Предотвращаем отправку формы
            const email = $('#emailRegistration').val();
            const password = $("#passwordRegistration").val();
            $.ajax({
                url: '/check-registration',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({email: email, password: password}),
                success: function (response) {
                    $('#errorMessageRegistration').text(response.error);
                    if (!response.error) {
                        window.location.replace('/registration');
                    }
                }
            })
        })
    })
    $(document).ready(function () {
        $('#authorization').on('submit', function (event) {
            event.preventDefault(); // Предотвращаем отправку формы
            const email = $('#emailAuthorization').val();
            const password = $("#passwordAuthorization").val();
            $.ajax({
                url: "/check-authorization",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({email: email, password: password}),
                success: function (response) {
                    // alert("проверкаааааааааааа") ого, это подойдет
                    $('#errorMessageAuthorization').text(response.error);
                    if (!response.error) {
                        window.location.replace('/feed');
                    }
                }
            })
        })
    })

</script>