{% extends "base.html" %}

{% block title %}
Connection | Добро пожаловать!
{% endblock %}


{% block content %}
<body style="overflow: hidden; margin: 0; font-family: Arial, sans-serif; background-color: #005f8f;">
<header class="title">
    <div><h1 align="center" style="color: aliceblue;">Connection</h1></div>
</header>

<header class="subtitle">
    <div><h1 align="center" style="color: aliceblue;">Добро пожаловать!</h1></div>
</header>

<div class="container">
    <header class="authorization">
        <div class="authorization">
            <div class="panel"><h3 align="center" style="color: aliceblue;">Регистрация</h3></div>
            <form action=""></form>
        </div>
    </header>
    <header class="registration">
        <div class="registration">
            <div class="panel"><h3 align="center" style="color: aliceblue;">Авторизация</h3></div>
        </div>
    </header>
</div>
</body>
{% endblock %}