{% extends "base.html" %}

{% block title %}
Connection | Регистрация
{% endblock %}


{% block content %}
<form id='registration' name="registration">
    <div class="only_registration">
        <h3>Регистрация</h3>
        <input type="text" placeholder="Имя" name="name" id="name" maxlength="15">
        <input type="text" placeholder="Фамилия" name="lastName" id="lastName" maxlength="15">
        <input type="text" placeholder="Логин" value="{{ info.login }}" name="login" id="login" maxlength="10">
        <div id="check_login" style="color: red"></div>
        <input type="text" placeholder="Почта" name="email" value="{{ info.email }}" id="email">
        <div id="params" style="color: red"></div>
        <input type="password" placeholder="Пароль" name="password" value="{{ info.password }}" id="password" maxlength="30">
        <button value="registration" name="button" type="submit">Создать</button>
        <div style="color: #333333">Нажимая кнопу «Создать», вы соглашаетесь с <b><a href="user_agreement" class="user_agreement">Пользовательским
            соглашением</a></b> и <b><a href="privacy" class="privacy">политикой конфиденциальности</a></b>.
        </div>
    </div>
</form>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#registration').on('submit', function (event) {
            event.preventDefault(); // Предотвращаем отправку формы
            const email = $('#email').val();
            const login = $('#login').val();
            $.ajax({
                url: '/check-all-reg',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({email: email, special_login: login}),
                success: function (response) {
                    $('#params').text("");
                    $('#check_login').text('')
                    if (response.error_check_email_to_correct) {
                        $('#params').text("Введена некорректная почта");
                    } else if (response.error_exists) {
                        $('#params').text("Данная почта уже используется");
                    } else if (response.error_login) {
                        $('#check_login').text('Пользователь с таким логином уже существует.')
                    } else {

                        $.ajax({
                            url: '/registration-new-user',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                name: $('#name').val(),
                                email: email,
                                lastName: $('#lastName').val(),
                                password: $('#password').val(),
                                login: $('#login').val()
                            }),
                            success: function () {
                                window.location.replace('/feed'); // Перенаправление происходит только после успешной регистрации
                            }
                        })
                    }
                }
            });
        });
    });

</script>
{% endblock %}