{% extends "base.html" %}

{% block title %}
Connection | Регистрация
{% endblock %}


{% block content %}
<form id='registration' name="registration">
    <div class="only_registration">
        <h3>Регистрация</h3>
        <input type="text" placeholder="Имя" name="name" id="name">
        <input type="text" placeholder="Фамилия" name="lastName" id="lastName">
        <input type="text" placeholder="Логин" name="login" id="login">
        <input type="text" placeholder="Почта" name="email" value="{{ info.email }}" id="email">
        <div id="params" style="color: red"></div>
        <input type="password" placeholder="Пароль" name="password" value="{{ info.password }}" id="password">
        <button value="registration" name="button" type="submit">Создать</button>
        <div>Нажимая кнопу «Создать», вы соглашаетесь с <b><a href="user_agreement" class="user_agreement">Пользовательским
            соглашением</a></b> и <b><a href="privacy" class="privacy">политикой конфиденциальности</a></b>.
        </div>
    </div>
</form>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#registration').on('submit', function (event) {
            event.preventDefault(); // Предотвращаем отправку формы

            const email = $('#email').val();
            // TODO
            $.ajax({
                url: '/check-email',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({email: email}),
                success: function (response) {
                    if (response.exists) {
                        $('#params').text("Данная почта уже используется");
                    } else {
                        $.ajax({
                            url: '/registration-new-user',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                name: $('#name').val(),
                                email: email,
                                lastName: $('#lastName').val(),
                                password: $('#password').val(),
                                login: $('#login').val()
                            }),
                            success: function () {
                                window.location.replace('/feed'); // Перенаправление происходит только после успешной регистрации
                            }
                        })
                    }
                },
                error: function (xhr, status, error) {
                    $('#params').text("Произошла ошибка: " + error);
                }
            });
        });
    });
</script>
{% endblock %}